/* BODY */
body {
    height: 100vh;
    background-color: #f7f3f3;
}

/* HEADER */
.jumbotron {
    background-color: #f8e1de;
    color: #333232;
    margin: 55px 0px 0px 0px;
    /* padding: 25px 0 0 0;
    height: 150px; */
}

/* MAIN */
main {
    margin: 50px 0px;
}
.card {
    border: none;
}
/* .hotel-card {
    flex: 1 250px;
    padding: 0px;
    border: 0px;
    margin: 0px;
} */
.hotel-card .btn-reserva {
    width: 100%;
    border-radius: 0px;
}
.btn-outline-secondary {
    background-color: #9abca7;
    color: whitesmoke;
    border-color: whitesmoke;
}
.btn-outline-secondary:hover {
    background-color: #629376;
}
.btn-outline-danger {
    background-color: #b96767;
    color: whitesmoke;
    border-color: whitesmoke;
}
.btn-outline-danger:hover {
    background-color: #bb5151;
}

/* FOOTER */
footer {
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    background-color: #f9cbc7;
    color: #333232;
}
    footer .container div div {
        margin: 10px 0;
    }
        footer .container div div address {
            margin: 0;
        }
        footer .container div div a {
            color: #333232;
            text-decoration: none;
        }
            footer .container div div a:hover {
                font-size: large;
                color: black;
            }

